<section class="about-us">
  <div class="section-content">
    <header>About us</header>
    <h2>Leading the Way in Trading Solutions</h2>
    <p>At Trademaps, we are driven by a bold vision and a clear mission. Our mission is to develop and deliver state-of-the-art trading indicators that set new standards in accuracy, reliability, and adaptability. We are committed to leveraging advanced technologies, such as artificial intelligence and machine learning, to unlock the full potential of trading indicators and empower traders with actionable insights.</p>
    <a href="#" class="btn btn-primary">
      <span class="btn-text">Read More</span>
    </a>
  </div>
  <div class="section-img">
    <div class="img-containger">
      <div class="img-item">
        <img src="img/about-us-01.webp" alt="">
      </div>
      <div class="img-item">
        <img src="img/about-us-02.webp" alt="">
      </div>
    </div>
  </div>
</section>