<section class="header">
  <header class="header sticky-header">
    <img src="img/logo.webp" alt="">
    <nav>
      <a href="about-us.html"><span>About Us</span></a>
      <a href="solutions.html"><span>Solutions</span></a>
      <a href="services.html"><span>Services</span></a>
      <a href="blog.html"><span>Blog</span></a>
      <a href="contacts.html"><span>Contacts</span></a>
    </nav>
    <div class="actions">
      <a href="#"><span class="flaticon-search"></span></a>
      <a class="btn m-transparent" href="contacts.html"><span>Get in Touch</span></a>
    </div>
  </header>

  <header class="sticked-header">
    <img src="img/logo.webp" alt="">
    <nav>
      <a href="about-us.html"><span>About Us</span></a>
      <a href="solutions.html"><span>Solutions</span></a>
      <a href="services.html"><span>Services</span></a>
      <a href="blog.html"><span>Blog</span></a>
      <a href="contacts.html"><span>Contacts</span></a>
    </nav>
    <div class="actions">
      <a href="#"><span class="flaticon-search"></span></a>
      <a class="btn" href="contacts.html"><span>Get in Touch</span></a>
    </div>
  </header>
</section>
