<section class="solutions">
  <header>
    <h3>Solutions</h3>
    <h2>Discover the Future of Trading</h2>
  </header>
  <div class="section-content">
    <div class="items-list">

      <div class="item">
        <div class="item-img">
          <a href="#">
            <img src="img/solutions/01.webp" alt="Sulution 01 image">
          </a>
        </div>
        <div class="item-footer">
          <header>
            <a href="#" class="item-link">Delta Indicator</a>
          </header>
          <div class="actions">
            <span>In Progress</span>
            <a href="#">Get Notified</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item-img">
          <a href="#">
            <img src="img/solutions/02.webp" alt="Sulution 02 image">
          </a>
        </div>
        <div class="item-footer">
          <header>
            <a href="#" class="item-link">SqueezeMap Indicator</a>
          </header>
          <div class="actions">
            <span>In Progress</span>
            <a href="#">Get Notified</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item-img">
          <a href="#">
            <img src="img/solutions/03.webp" alt="Sulution 03 image">
          </a>
        </div>
        <div class="item-footer">
          <header>
            <a href="#" class="item-link">VoluMap Indicator</a>
            <span class="item-price">$19</span>
          </header>
          <div class="actions">
            <span>In Stock</span>
            <a href="#">Buy Subscription</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>