$page-background-color: #020015;
$primary-color: #7040F2;
$secondary-color: #31274B;
$tertiary-color: #FFFFFF;
$button-color-idle: #FFFFFF;
$button-bg-idle: #7040F2;
$button-border-idle: #7040F2;
$button-color-hover: #31274B;
$button-bg-hover: #FFFFFF;
$button-border-hover: #E3EBF4;
$cursor-point-color: rgba(22, 14, 44, 0);
$back-to-top-color: #ffffff;
$back-to-top-color-bg: #7040F2;
$body-background: #FFFFFF;
$body-rgb-background: 255,255,255;
$primary-rgb: 112,64,242;
$secondary-rgb: 49,39,75;
$tertiary-rgb: 255,255,255;
$content-rgb: 77,77,77;
$header-rgb: 49,39,75;
$shop-products-overlay: rgba(255,255,255,0);
$header-font-family: Space Grotesk;
$header-font-weight: 500;
$header-font-color: #31274B;
$h1-font-family: Space Grotesk;
$h1-font-size: 48px;
$h1-line-height: 60px;
$h1-font-weight: 700;
$h1-text-transform: none;
$h1-letter-spacing: normal;
$h2-font-family: Space Grotesk;
$h2-font-size: 42px;
$h2-line-height: 54px;
$h2-font-weight: 700;
$h2-text-transform: none;
$h2-letter-spacing: normal;
$h3-font-family: Space Grotesk;
$h3-font-size: 36px;
$h3-line-height: 48px;
$h3-font-weight: 700;
$h3-text-transform: none;
$h3-letter-spacing: normal;
$h4-font-family: Space Grotesk;
$h4-font-size: 30px;
$h4-line-height: 42px;
$h4-font-weight: 700;
$h4-text-transform: none;
$h4-letter-spacing: normal;
$h5-font-family: Space Grotesk;
$h5-font-size: 26px;
$h5-line-height: 38px;
$h5-font-weight: 700;
$h5-text-transform: none;
$h5-letter-spacing: normal;
$h6-font-family: Space Grotesk;
$h6-font-size: 22px;
$h6-line-height: 34px;
$h6-font-weight: 700;
$h6-text-transform: none;
$h6-letter-spacing: normal;
$content-font-family: DM Sans;
$content-font-size: 16px;
$content-line-height: 1.875;
$content-font-weight: 400;
$content-color: #4D4D4D;
$menu-font-family: Space Grotesk;
$menu-font-size: 16px;
$menu-line-height: 30px;
$menu-font-weight: 700;
$menu-letter-spacing: normal;
$submenu-font-family: Space Grotesk;
$submenu-font-size: 16px;
$submenu-line-height: 30px;
$submenu-font-weight: 500;
$submenu-letter-spacing: normal;
$submenu-color: #31274B;
$submenu-background: rgba(255,255,255,1);
$submenu-mobile-color: #ffffff;
$submenu-mobile-background: rgba(18,13,36, 1);
$submenu-mobile-overlay: rgba(18,13,36, 0.7);
$sidepanel-title-color: #ffffff;
$bg-caret: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" x="0" y="0" viewBox="0 0 451.847 451.847" preserveAspectRatio="none" fill="%23AFBCCC"><g><path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751   c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0   c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"></path></g></svg>');
$bg-caret-white: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" x="0" y="0" viewBox="0 0 451.847 451.847" preserveAspectRatio="none" fill="%23ffffff"><g><path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751   c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0   c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"></path></g></svg>');
$button-loading: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="489.698px" height="489.698px" viewBox="0 0 489.698 489.698" preserveAspectRatio="none" fill="%2331274B"><path d="M468.999,227.774c-11.4,0-20.8,8.3-20.8,19.8c-1,74.9-44.2,142.6-110.3,178.9c-99.6,54.7-216,5.6-260.6-61l62.9,13.1    c10.4,2.1,21.8-4.2,23.9-15.6c2.1-10.4-4.2-21.8-15.6-23.9l-123.7-26c-7.2-1.7-26.1,3.5-23.9,22.9l15.6,124.8    c1,10.4,9.4,17.7,19.8,17.7c15.5,0,21.8-11.4,20.8-22.9l-7.3-60.9c101.1,121.3,229.4,104.4,306.8,69.3    c80.1-42.7,131.1-124.8,132.1-215.4C488.799,237.174,480.399,227.774,468.999,227.774z"/><path d="M20.599,261.874c11.4,0,20.8-8.3,20.8-19.8c1-74.9,44.2-142.6,110.3-178.9c99.6-54.7,216-5.6,260.6,61l-62.9-13.1    c-10.4-2.1-21.8,4.2-23.9,15.6c-2.1,10.4,4.2,21.8,15.6,23.9l123.8,26c7.2,1.7,26.1-3.5,23.9-22.9l-15.6-124.8    c-1-10.4-9.4-17.7-19.8-17.7c-15.5,0-21.8,11.4-20.8,22.9l7.2,60.9c-101.1-121.2-229.4-104.4-306.8-69.2    c-80.1,42.6-131.1,124.8-132.2,215.3C0.799,252.574,9.199,261.874,20.599,261.874z"/></svg>');
$button-success: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512px" height="512px" viewBox="0 0 24 24" preserveAspectRatio="none" fill="%2331274B"><path d="m21.73 5.68-13 14a1 1 0 0 1 -.73.32 1 1 0 0 1 -.71-.29l-5-5a1 1 0 0 1 1.42-1.42l4.29 4.27 12.27-13.24a1 1 0 1 1 1.46 1.36z"/></svg>');
$quote-icon: url('data:image/svg+xml; utf8, <svg width="50" height="36" viewBox="0 0 50 36" xmlns="http://www.w3.org/2000/svg" fill="%237040F2"><path d="M11.7188 0.590576C5.25566 0.590576 0 5.8477 0 12.3093C0 18.2087 4.38027 23.104 10.0622 23.9108C9.60732 27.2153 8.34561 30.3595 6.37432 33.0861C5.99092 33.6182 6.00527 34.3392 6.41436 34.8541C6.81572 35.3609 7.51318 35.553 8.12529 35.2948C17.4265 31.4124 23.4375 22.3887 23.4375 12.3093C23.4375 5.8477 18.1818 0.590576 11.7188 0.590576ZM38.2812 0.590576C31.8182 0.590576 26.5625 5.8477 26.5625 12.3093C26.5625 18.2087 30.9428 23.104 36.6247 23.9108C36.1698 27.2153 34.9081 30.3595 32.9368 33.0861C32.5534 33.6182 32.5678 34.3392 32.9769 34.8541C33.3782 35.3609 34.0757 35.553 34.6878 35.2948C43.989 31.4124 50 22.3887 50 12.3093C50 5.8477 44.7443 0.590576 38.2812 0.590576Z"/></svg>');
$eth-icon: url('data:image/svg+xml; utf8, <svg width="33" height="53" viewBox="0 0 33 53" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.3576 0.666687L16.0095 1.85009V36.1896L16.3576 36.5371L32.2976 27.115L16.3576 0.666687Z" fill="%23343434"/><path d="M16.3578 0.666687L0.417816 27.115L16.3578 36.5372V19.8699V0.666687Z" fill="%238C8C8C"/><path d="M16.3575 39.5552L16.1613 39.7944V52.0268L16.3575 52.6L32.307 30.1378L16.3575 39.5552Z" fill="%233C3C3B"/><path d="M16.3578 52.5998V39.5551L0.417816 30.1377L16.3578 52.5998Z" fill="%238C8C8C"/><path d="M16.3575 36.537L32.2973 27.1151L16.3575 19.8699V36.537Z" fill="%23141414"/><path d="M0.417816 27.1151L16.3576 36.537V19.8699L0.417816 27.1151Z" fill="%23393939"/></svg>');
$weth-icon: url('data:image/svg+xml; utf8, <svg width="33" height="53" viewBox="0 0 33 53" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.8498 0.666687L16.4974 1.85009V36.1896L16.8498 36.5371L32.9842 27.115L16.8498 0.666687Z" fill="%23DA3979"/><path d="M16.85 0.666687L0.715607 27.115L16.85 36.5372V19.8699V0.666687Z" fill="%23E781A9"/><path d="M16.8497 39.5552L16.6511 39.7944V52.0268L16.8497 52.6L32.9937 30.1378L16.8497 39.5552Z" fill="%23DA3979"/><path d="M16.85 52.5998V39.5551L0.715607 30.1377L16.85 52.5998Z" fill="%23E781A9"/><path d="M16.8497 36.537L32.9838 27.1151L16.8497 19.8699V36.537Z" fill="%23671334"/><path d="M0.715607 27.1151L16.8498 36.537V19.8699L0.715607 27.1151Z" fill="%23DA3979"/></svg>');
$sol-icon: url('data:image/svg+xml; utf8, <svg width="20" height="18" viewBox="0 0 20 18" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="paint0_linear_537_12995" x1="0.607039" y1="18.3933" x2="19.3929" y2="-0.392604" gradientUnits="userSpaceOnUse"><stop stop-color="%239945FF"/><stop offset="0.2" stop-color="%237962E7"/><stop offset="1" stop-color="%2300D18C"/></linearGradient></defs><path fill-rule="evenodd" clip-rule="evenodd" d="M3.43571 13.726C3.50026 13.655 3.57886 13.5984 3.66655 13.5595C3.75415 13.5207 3.84904 13.5006 3.94488 13.5006L19.6552 13.5134C19.7222 13.5136 19.7876 13.5331 19.8436 13.5697C19.8996 13.6063 19.9438 13.6584 19.9707 13.7196C19.9977 13.7809 20.0063 13.8487 19.9955 13.9147C19.9847 13.9807 19.9549 14.0421 19.9098 14.0916L16.5643 17.7753C16.4997 17.8463 16.421 17.903 16.3333 17.9418C16.2456 17.9807 16.1507 18.0007 16.0547 18.0007L0.344742 17.9879C0.27784 17.9877 0.212411 17.9682 0.156412 17.9316C0.100412 17.895 0.0562503 17.8428 0.029292 17.7816C0.00233376 17.7204 -0.00627258 17.6526 0.00453645 17.5866C0.0153369 17.5206 0.0450897 17.4592 0.0901601 17.4097L3.43571 13.726ZM19.9098 10.6594C19.9549 10.7089 19.9847 10.7704 19.9955 10.8364C20.0063 10.9024 19.9977 10.9702 19.9707 11.0314C19.9438 11.0926 19.8996 11.1447 19.8436 11.1813C19.7876 11.2179 19.7222 11.2374 19.6552 11.2376L3.9453 11.2505C3.84939 11.2505 3.7545 11.2304 3.66672 11.1916C3.57895 11.1527 3.50026 11.096 3.43571 11.025L0.0901601 7.33916C0.0450897 7.2897 0.0153369 7.22824 0.00453645 7.16224C-0.00627258 7.09623 0.00233376 7.02843 0.029292 6.96723C0.0562503 6.90603 0.100412 6.85391 0.156412 6.81731C0.212411 6.78071 0.27784 6.76116 0.344742 6.76099L16.0551 6.74813C16.151 6.74822 16.2458 6.76828 16.3335 6.80711C16.4212 6.84594 16.4998 6.9026 16.5643 6.97357L19.9098 10.6594ZM3.43571 0.225438C3.50026 0.154489 3.57886 0.0977866 3.66655 0.058965C3.75415 0.020152 3.84904 6.00025e-05 3.94488 0L19.6552 0.0128578C19.7222 0.0129949 19.7876 0.0325556 19.8436 0.0691657C19.8996 0.105776 19.9438 0.157858 19.9707 0.219086C19.9977 0.280323 20.0063 0.348066 19.9955 0.414086C19.9847 0.480106 19.9549 0.541565 19.9098 0.591024L16.5643 4.27475C16.4997 4.34572 16.421 4.40247 16.3333 4.4413C16.2456 4.48013 16.1507 4.50018 16.0547 4.50018L0.344742 4.48733C0.27784 4.48716 0.212411 4.46761 0.156412 4.43101C0.100412 4.39441 0.0562503 4.34229 0.029292 4.28109C0.00233376 4.21989 -0.00627258 4.15209 0.00453645 4.08608C0.0153369 4.02008 0.0450897 3.95862 0.0901601 3.90916L3.43571 0.225438Z" fill="url(%23paint0_linear_537_12995)"/></svg>');
$container-width: 1200px;
*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h2, h2 span, h2 a {
	font-family: $h2-font-family;
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	font-weight: $h2-font-weight;
	text-transform: $h2-text-transform;
	letter-spacing: $h2-letter-spacing
}

h3, h3 span, h3 a {
	font-family: $h3-font-family;
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	font-weight: $h3-font-weight;
	text-transform: $h3-text-transform;
	letter-spacing: $h3-letter-spacing
}

h5, h5 span, h5 a {
	font-family: $h5-font-family;
	font-size: $h5-font-size;
	line-height: $h5-line-height;
	font-weight: $h5-font-weight;
	text-transform: $h5-text-transform;
	letter-spacing: $h5-letter-spacing;
}

p {
	font-family: $content-font-family;
}