*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h2, h2 span, h2 a {
	font-family: $h2-font-family;
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	font-weight: $h2-font-weight;
	text-transform: $h2-text-transform;
	letter-spacing: $h2-letter-spacing
}

h3, h3 span, h3 a {
	font-family: $h3-font-family;
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	font-weight: $h3-font-weight;
	text-transform: $h3-text-transform;
	letter-spacing: $h3-letter-spacing
}

h5, h5 span, h5 a {
	font-family: $h5-font-family;
	font-size: $h5-font-size;
	line-height: $h5-line-height;
	font-weight: $h5-font-weight;
	text-transform: $h5-text-transform;
	letter-spacing: $h5-letter-spacing;
}

p {
	font-family: $content-font-family;
}