@import 'base/*.scss';
@import 'global/*.scss';
@import '../components/**/*.scss';

body {
  background: $page-background-color;
  font-family: "Space Grotesk";
  color: white;
}
a,
:visited{
  color: white;
  text-decoration: none;
}
.gradient-text {
  @include primary-gradient;
  -webkit-background-clip: text; /* For Safari */
  -webkit-text-fill-color: transparent; /* For Safari */
  background-clip: text;
  color: transparent;
}
.main {
  background-image: url(../img/home-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1860px;
  padding-top: 230px;
}

section {
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  max-width: $container-width;
  padding: 0 15px;

  header {
    margin-bottom: 20px;

    h3 {
      display: inline-block;
      line-height: 1.3;
      letter-spacing: .3em;
      color: $primary-color;
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }

    h2 {
      z-index: 1;
      line-height: 1.238;
    }
  }
}