@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

body {
  background: $page-background-color;
  font-family: "Space Grotesk";
  color: white;
}
a,
:visited{
  color: white;
  text-decoration: none;
}

.main {
  background-image: url(../img/home-bg.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1860px;
}